<header>
  <h1>Mi portafolio</h1>
  <p>la descipcion del portafolio</p>
</header>

<section id="sobre-mi">
<article>
  <h3>holii tu</h3>
  <p>cosas sobre andres</p>
</article>
</section>

<section id="educacion">
  <article>
    <h3>holii tu</h3>
    <p>cosas sobre andres</p>
  </article>
  </section>

<section id="contacto">
  <article>
    <h3>holii tu</h3>
    <p>cosas sobre andres</p>
  </article>
  </section>

<section id="experiencia laboral">
  <article>
    <h3>holii tu</h3>
    <ul>
      <li>analista de datos</li>
      <li>gestor de calidad</li>
      <li>desarrollador</li>
    </ul>
  </article>
  </section>

  <footer>
    <p>&copy;Cesar Mauricio Mahecha Roa</p>
  </footer>